
<div class="row" class="status-container">
    <div class="col-md-12">
        <p>Par <a href="{{ path ('tech_corp_front_user_timeline', 
        { userId : status.user.id }) }}">{{ status.user.username }}</a></p>
        <p> {{ status.content }} </p>
        <p> le {{ status.createdAt|date('Y-M-D H:i:s')}} </p>
    </div>
    <div>
        {% for comment in status.comments%}
        <div class="row">
            <div class="col-md-12">
            <p>Commentaire de <a href="{{ path('tech_corp_front_timeline', 
            {userId: comment.user.id} )}}">{{comment.user.username}}</a></p>
            <p>{{comment.content}}</p>
             <p>Créé le {{comment.createdAt|date('Y-M-D H:i:s')}}</p>
             <p>Mis-à-jour le {{comment.updatedAt|date('Y-M-D H:i:s')}}</p>
            </div>
        </div>
        {%endfor%}
    </div>
    <a href="{{ path ('tech_corp_front_timeline')}}"><button type="button" class="btn btn-link">Timeline</button></a>
</div>